# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo / React Native
.expo
.expo-shared
android
ios
web-build

# Next.js
.next
out

# Backend
dist

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Misc
.DS_Store
.env
